
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?#iconfont') format('svg'); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}                 

.icon{ display: inline-block;
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
font-feature-settings: 'liga';
}


.icon-biaoqian:before { content: "\e600"; }

.icon-rili:before { content: "\e601"; }

.icon-shuju:before { content: "\e602"; }

.icon-fangdajing:before { content: "\e603"; }

.icon-iconfontweibowukuang:before { content: "\e60d"; }

.icon-weixin:before { content: "\e604"; }

.icon-icon_heart:before { content: "\e63f"; }

.icon-fenxiang1:before { content: "\e641"; }

.icon-mima:before { content: "\e6ec"; }

.icon-clock:before { content: "\e642"; }

.icon-guanbi:before { content: "\e605"; }

.icon-shuaxin3:before { content: "\e68f"; }

.icon-shoucang:before { content: "\e6aa"; }

.icon-qqkongjianline:before { content: "\e75a"; }

.icon-star:before { content: "\e606"; }

.icon-shaixuan:before { content: "\e607"; }

.icon-qq:before { content: "\e698"; }

.icon-fenxiang:before { content: "\e619"; }

.icon-huatong:before { content: "\e608"; }

.icon-yijianfankui:before { content: "\e609"; }

.icon-shouji:before { content: "\e612"; }

.icon-lianxiwomen:before { content: "\e60a"; }

.icon-news:before { content: "\e60b"; }

.icon-xingxing:before { content: "\e613"; }

.icon-xiaoxizhongxin:before { content: "\e615"; }

.icon-mima1:before { content: "\e78f"; }

.icon-email1:before { content: "\e71d"; }

.icon-biaoqian1:before { content: "\e61a"; }

.icon-weixin1:before { content: "\e614"; }

.icon-weibo:before { content: "\e617"; }

.icon-pinglun:before { content: "\e60e"; }

.icon-guanxiaobaotubiao09:before { content: "\e669"; }

.icon-more:before { content: "\e74f"; }

.icon-kongjian:before { content: "\e60f"; }

.icon-tuijian:before { content: "\e67a"; }

.icon-remen:before { content: "\e611"; }

.icon-fenxiang2x:before { content: "\e610"; }

.icon-zhenshixingming:before { content: "\e670"; }

.icon-fenxiang2:before { content: "\e643"; }

.icon-xiaoxi:before { content: "\e634"; }

