<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="Ruanal.DispatchNode1"/>
    <add key="serverUrl" value="http://localhost:7997/"/>
    <add key="notifyListen" value="127.0.0.1:48086"/>
    <add key="pingSeconds" value="15"/>

    <add key="dispatchDoListening" value="true"/>
    <add key="notifyHostListen" value="127.0.0.1:48086"/>

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="9.0.0.0"/>-->
        <!--<codeBase version="9.0.0.0" href="./Newtonsoft.Json.9.0.0.0/Newtonsoft.Json.dll" />
        <codeBase version="4.5.0.0" href="./Newtonsoft.Json.4.5.0.0/Newtonsoft.Json.dll" />-->
        <!--<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="4.5.0.0"/>-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>